sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
addons:
  apt:
    packages:
      - rpm
install:
  - git clone --branch 2.3 --depth=1 --no-single-branch https://github.com/Graylog2/graylog2-server ../graylog2-server
  - (cd ../graylog2-server && mvn -DskipTests=true compile -B -V)
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dskip.web.build=true -B -V
script:
  - mvn package -B
before_deploy:
  - mvn jdeb:jdeb && export RELEASE_DEB_FILE=$(ls target/*.deb)
  - mvn rpm:rpm && export RELEASE_RPM_FILE=$(find target/ -name '*.rpm' | tail -1)
  - rm -f target/original-*.jar
  - export RELEASE_PKG_FILE=$(ls target/*.jar)
  - echo "Deploying release to GitHub releases"
deploy:
  provider: releases
  api_key:
    secure: Me+458S/h4nrZwwymNF+X/0/B+5u5EqGvpE/yP7S05VgwH+TJS2Ule1gTo8EQ53jAo9Rp5MTQKO6ZjvXviWpSzb6cAHNSepKhtiCRtKbBWRckT6x27MVF3HG5JvT4SjgzpGnYEkYuI9f88H895XGztmjcDPjpmDp6JDcGr9SObnV+HpP/gBPa/KspxRKKw/fxDuPu8VvLY2GUz2znEOCfhKv8mzUixbc6wsSC9Ka/dWmN1F5h5Ih8BTweLbU152r7xl+zkkI4GwjfHQawZOhrYKvCrf/ZtuHHsVgKOGX7GFTdNT1YquMWPS8NlTpoPAUYYtwpyyti4LJJ/xmMS9yjKrCzFJwicfTU1juDaCvYu0hvn3b/WFvqKsF5sKb/tSdfV0fNfzPP8//780h7puMzsn6AaF3/FRWV3pQ8zOz9tVPdsWwuCJ+lqXHY2QBy5PpSrJqZfPVVMGUfPBtCgugqxngAWggpmi+OaPpEFzayI5A9NtKeRmfG0aVCLVruilFgKkHCR/K9DjmXslc83TToydUz879B55tBPVPqatbFABDE8n6C9luZ+Iv8JDmWAQDJ7FvzUTpwiuOovusNfVnkjutEKO5IkpnyRz56w2jIjkGWxzvMDi9ewkJy73Hb8l22JgMNQtakHyKsICimzgSu/Jw9451dlPEpKL2W06XNZM=
  file:
    - "${RELEASE_PKG_FILE}"
    - "${RELEASE_DEB_FILE}"
    - "${RELEASE_RPM_FILE}"
  skip_cleanup: true
  on:
    tags: true
    jdk: oraclejdk8
